<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="description" content="First Express App- by Suroor Wijdan">
<link href="/stylesheets/style.css" rel="stylesheet">
</style>
</head>
<body>
<div>
<%=message%>
 
<form action="saveUser" method="POST">
       <input type = "text" name = "user" >
       <input type = "submit" value = "Save User">
</form>
</body>
</html>